<!DOCTYPE html>
<html>
  <head>
    <title>WeatherApp</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type = "text/css" href='{{ url_for("static", filename= "css/style.css") }}' />

  </head>


  <body>

    {% include 'includes/_navbar.html' %}
  </br>

    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="apphome" >
      {% block body %}
      {% endblock %}
    </div>

    <div class="footer w3-center w3-blue w3-padding-16">rainCast by Group 5
</div>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

    <script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script type="text/javascript"> CKEDITOR.replace('editor')</script>
  </body>

</html>
